button.more{
    width: 146px;
    height: 39px;
    background-color: #1b1b1b;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffc92f;
    border: 0;
    cursor: pointer;
}

.more_mt31{
    margin-top: 31px;
}