.contact .contact__qustion{
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #212121;
}  

.contact .contact__button{
    display: flex;
    width: 229px;
    height: 35px;
    background-color: #212121;
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffbc2f;
    justify-content: center;
    align-items: center;   
}
.contact_mt59{
    margin-top: 59px;
}