
.links{
    margin-top: 145px;
    padding-left: 75px;
    .container{
        max-width: 1100px
    }
}



.links .container, .links .container .links__double-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}

.links .links__block{
   width: 260px 
}

.links .links__title{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #1b1b1b;
}

.links .links_list{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.links .list__li{
    list-style-type: none;
}

.links .list_link{
    font-size: 15px;
    line-height: 36px;
    font-weight: 400;
    color: #737373;
    text-decoration: none;
}

.links .list_link:hover, .links .links__address-link:hover{
    color: #d82727; 
}

.links .links__address, .links .links__address-link{
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #1b1b1b;
} 

.links .links_mt-38{
    margin-top: 38px;
}