.tabs-sizes{
    display: flex;
    justify-content: left;
    align-items: space-between;
    flex-flow: wrap;
   

    .tabs-sizes__insruction{
        width: 337px;

        img{
            width: 100%;
        }

        .tabs-sizes__list{
            display: block;
            padding: 50px 80px 20px 80px;
            font-size: 12.3px;
            line-height: 20px;
            font-weight: 400;
            color: #1b1b1b;
        }
    }
}

@media(max-width: 1200px){
    .tabs-sizes{
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }
}

