.product .container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    background:#ffc92f;
    padding-left: 75px; 

    .product__wrapper{
      border: 10px solid #ffc92f;
    }
    .product_bg-norm{
       background: #fcf5e6;
       padding: 22px 27px;
    }

    .product_mb30{
        margin-bottom: 30px;
    }

    .product_mt30{
        margin-top: 30px;
    }
    .product_w500{
        max-width: 500px;
    }    
}

@media (max-width: 700px){
    .product .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}