.product-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: wrap;

    button{
        margin-right: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        line-height: 28px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .product-btn__not-able{
        border: 2px solid #e0d9c8;
        color: #cac3b3;
        cursor: default;
    }
    
    .product-btn__on-sale{
        border: 2px solid #e0d9c8;

    }

    .product-btn__active{
        background-color: #ffc92f;
        border: 0;
        cursor: default;
    }
}