.product-buy{

    

    .product-buy__btn{
        width: 210px;
        height: 51px;
        background-color: #d82727;
        font-size: 28.2px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #ffffff;
        border: 0;
        cursor: pointer;
    }
}